<!-- ko if: (isAvailable) -->
<div class="col-mp mp-12">
    <input type="checkbox" name="suprematik_subscription"
           data-bind="checked: isChecked, attr: {id: 'suprematik-subscription'}"/>
    <label data-bind="attr: {for: 'suprematik-subscription'}">
        <span data-bind="html: checkboxText"></span>
    </label>
</div>
<!-- /ko -->
